<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Representante de atención al cliente</h2>
            <h6>Apex América - Jornada Parcial</h6><h5>Noviembre 2011 - Junio 2017 (5 años 8 meses)</h5></li></ul>
                <p>Atención telefónica de reclamos y dudas para clientes de la banda ancha Speedy. Solución en línea. Atención de consultas sobre OnVideo. Soporte técnico de banda ancha. Soporte para nuevos clientes. Manejo de sistemas. Manejo de información personal.</p>
                <ul><li>
                    <h2>Telemarketer</h2>
                    <h6>Diario Cruz del Sur - Jornada Parcial</h6><h5>Agosto 2011 - Septiembre 2011 (2 meses)</h5>
                </li></ul>
                <p>Venta de avisos clasificados, publicidad y suscripciones para un semanario.</p>
                
                <ul><li>
                    <h2>Armado y reparación de PC</h2>
                <h6>Cuenta Propia - Full time</h6><h5>Noviembre 2001 - Agosto 2011 (9 años 2 meses</h5></li></ul>
                    <p>Diagnóstico de fallas. Reemplazo de piezas dañadas. Instalación y configuración de hardware. Instalación y configuración de sistemas operativos. Instalación y configuración de programas. Instalación y configuración de antivirus. Particionado de discos rígidos. Armado de una computadora personal.</p>
                    <ul><li>
                        <h2>Recepcionista y telefonista</h2>
                        <h6>Radio Taxi Estrella</h6><h5>Febrero 2003 - Agosto 2003 (7 meses)</h5>
                    </li></ul>
                    <p>Atención de clientes en forma personal y telefónica. Registro de las asientos en el libro diario de la empresa.</p>
                    <ul><li>
                        <h2>Recepcionista y telefonista</h2>
                        <h6>Remisses Santa Rita</h6><h5>Octubre 2002 - Enero 2003 (4 meses)</h5>
                    </li></ul>
                    <p>Atención de clientes en forma personal y telefónica. Registro de las asientos en el libro diario de la empresa.</p>            
    </div>
</div>
