<div class="row align-items-start">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/foto.jpg" alt="fotoperfil" class="img-fluid" id="fotodeperfil">
        </div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Nancy Erica Scipioni</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos facilis quae veritatis et illo aperiam quia, provident nisi enim, asperiores expedita. Aut esse sapiente eaque impedit reiciendis consequatur assumenda repudiandae.</p>
        </span>
    </div>
</div>
